.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 100vh;
    align-content: space-between;
}

.wrapper > * {
    padding: 1rem;
}

.header {
    background: #fefcea;
    background: linear-gradient(to left, #b7aeaa 1%,#bbe5ed 100%);
    flex-basis: 100%;
    order: 1;
    height: 5vh;
}

.main{
    background: #777576;
    background: linear-gradient(to right, #777576 1%,#d8e1e7 50%,#b5c6d0 51%,#bfbccb 100%);
    /*flex-grow: 4;*/
    /*flex-basis: 1px;*/
    flex: 4 1 1px;
    order: 3;
    height: 90vh;
}

.aside {
    flex-grow: 1;
    height: 90vh;

}

.aside-1 {
    background: #febbbb;
    background: linear-gradient(to top, #febbbb 0%,#fe9090 45%,#b399a2 100%);
    order: 2;
}

.aside-2 {
    background: #960c07;
    background: linear-gradient(to left, #960c07 0%,#fe9090 45%,#986c6a 100%);
    order: 4;
}

.footer {
    background: #c409ae;
    background: linear-gradient(to bottom, #c409ae 1%,#fe9090 45%,#784f41 100%);
    flex-basis: 100%;
    order: 5;
    height: 5vh;
}